body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: lightgray;
    color: mediumblue;
}

.heading {
    font-weight: 900;
    color: red;
}